
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
   <li
         class="navbar-toggler nav-item dropdown subject4"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form action="/majors/bios/bionano">
              <button type="submit" class="btn btn-dark mr-2 dropdown-item">바이오나노학과</button>
            </form>

            <form action="/majors/bios/chem">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">화학과</button>
            </form>

            <form action="/majors/bios/food">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">식품생물공학과</button>
            </form>

            <form action="/majors/bios/life">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">생명과학과</button>
            </form>

            <form action="/majors/bios/nutrition">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">식품영양학과</button>
            </form>

            <form action="/majors/bios/physical">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">물리학과</button>
            </form>
          </ul>
        </li>
        
     
      <div class="btn-group mb-20 subject4-fri" role="group" aria-label="Basic example">
      <form action="/majors/bios/bionano">
        <button type="submit" class="btn btn-primary mr-2">바이오나노학과</button>
      </form>

      <form action="/majors/bios/chem">
        <button type="submit" class="btn btn-primary mr-2">화학과</button>
      </form>

      <form action="/majors/bios/food">
        <button type="submit" class="btn btn-dark mr-2">식품생물공학과</button>
      </form>

      <form action="/majors/bios/life">
        <button type="submit" class="btn btn-primary mr-2">생명과학과</button>
      </form>

      <form action="/majors/bios/nutrition">
        <button type="submit" class="btn btn-primary mr-2">식품영양학과</button>
      </form>

      <form action="/majors/bios/physical">
        <button type="submit" class="btn btn-primary mr-2">물리학과</button>
      </form>
    </div>
    
    <form action="/majors/bios/food">
        <button type="submit" class="btn btn-dark mr-2 subject4-fri2">식품생물공학과</button>
      </form>


    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
          <li class="list">식품생물공학은 생물체를 이용하여 인류의 생명유지와 건강증진에 필수적인 식품, 의약품을 생산하거나 가공하는 분야로서 전 분야에 걸친 기초과학을
            바탕으로 하여 식품생산에 필요한 공정공학과 생명공학 기술이 결합된 첨단공학이다.</li>
         <li  class="list">각 분야에 적응력 있는 인재를 양성하기 위해서는 식량자원의 효율적 이용, 위생적이고 안전한 식품생산 기술개발을 목표로 한다.</li>
         <li  class="list">질병예방과 치료를 위한 기능성 식품소재와 생명소재의 개발에 관한 전문지식의 교육과 실무능력의 배양이 필수적이다.</li>
         <li  class="list">진로는 식품관련 기업체 / 제약회사 / 생명공학관련 연구소 및 회사 / 보건의약분야 공무원 / 외식산업 / 기사자격증(생물공학기사, 식품기사, 위생사, 환경기사) 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
            <li class="list">식품기사</li>
            <li class="list">위생사</li>
            <li class="list">식품기술사</li>
            <li class="list">품질관리기사</li>
        </div>
        <div id="display">
            <li class="list">수산제조기사</li>
            <li class="list">주조사</li>
            <li class="list">식육가공기사</li>
            <li class="list">조리사</li>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">식품생물공학과+바이오나노학과=바이오메디컬 및 생물공학/공정공학 구조와 기능 학습</li>
            <li class="list">식품생물공학과+화공생명공학과=화학공학 및 생물공학/공정공학의 구조와 기능 공부</li>
            <li class="list">식품생물공학과+생명과학과=생명원리 이해 및 생물공학/공정공학 기술에 대한 학습</li>
            <li class="list">식품생물공학과+식품영양학과=생물공학/영양소 이해 및 생물공학/공정공학 기술에 대한 학습</li>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>

