
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
    <div class="btn-group mb-20" role="group" aria-label="Basic example">
      <form action="/majors/managements/management">
        <button type="submit" class="btn btn-primary mr-2">경영학과</button>
      </form>

      <form action="/majors/managements/globalmanagement">
        <button type="submit" class="btn btn-dark mr-2">글로벌경영학과</button>
      </form>

      <form action="/majors/managements/financialmath">
        <button type="submit" class="btn btn-primary mr-2">금융수학과</button>
      </form>

    </div>
    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
         <li  class="list">세계시민 의식과 글로벌 비전 및 경쟁력을 갖춘 경영인재를 양성한다.</li>
         <li  class="list">전공지식에 대한 깊이 있는 이해를 바탕으로 경영 자료를 분석하고 활용함으로써 문제해결을 위한 효과적인 의사결정 능력을 배양한다.</li>
         <li  class="list">타인과 협업, 소통하면서 사회적 책임을 수행하는 윤리적 경영교육을 진행한다.</li>
         <li  class="list">글로벌 경영환경에서 성과창출에 필요한 효과적인 의사전달 능력을 배양한다.</li>
         <li  class="list">미래를 지향하는 지성인, 나눔에 동참하는 실천인, 최고를 추구하는 전문인 무한경쟁 환경에서 영어능력과 국제적 경영 감각을 겸비한 핵심 글로벌 인재를 양성한다.</li>
         <li  class="list">금융시장이 통합되고 자유무역협정(FTA)의 확대되는 등 대외 경제환경의 글로벌화가 가속화 되고 있으며, 해외시장의 확대, 생산의 현지화 및 노동시장의 글로벌 소싱이 확대되는 시기에 글로벌한 인재를 양성한다.</li>
         <li  class="list">진로는 전문경영인 / 경영자문 컨설턴트 / 공인회계사 / 세무사 / 증권분석가 /
            경제관료 / 마케팅 리서처 / 금융인 / 호텔경영자 / 국제교역 전문가 /
            경제 전문기자 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <div>
        <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    </div>
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
            <li class="list">사회조사분석사1급</li>
            <li class="list">사회조사분석사2급</li>
            <li class="list">소비자전문상담사1급</li>
            <li class="list">소비자전문상담사2급</li>
            <li class="list">컨벤션기획사1급</li>
            <li class="list">컨벤션기획사2급</li>
            <li class="list">투자상담사</li>
            <li class="list">금융자산관리사</li>
        </div>
        <div id="display">
            <li class="list">공인회계사</li>
            <li class="list">세무사</li>
            <li class="list">전산회계사1,2급</li>
            <li class="list">전산세무사1,2급</li>
            <li class="list">AT(회계관리사)자격 1,2급</li>
            <li class="list">ERP정보관리사</li>
            <li class="list">경영빅데이터분석사</li>
            <li class="list">컴퓨터활용능력1,2급</li>       
        </div>
        <div id="display">
            <li class="list">감정평가사</li>
            <li class="list">가맹거래사</li>
            <li class="list">재무위험관리사</li>
            <li class="list">주식트레이딩전문가(STS)</li>
            <li class="list">선물중개사(AP)</li>
            <li class="list">품질경영기사</li>
            <li class="list">유통관리사</li>
            <li class="list">물류관리사</li>
        </div>
        <div id="display">
            <li class="list">경영지도사</li>
            <li class="list">공인노무사</li>
            <li class="list">공정관리기사</li>
            <li class="list">보험중개인</li>
            <li class="list">보험계리인</li>
            <li class="list">손해사정인</li>
            <li class="list">증권분석사</li>
            <li class="list">투자상담사</li>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>


  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
         <div id="display">                                        
            <li class="list">글로벌경영학과+응용통계학과=회계,세무,재무 및 통계, 데이터 분석</li>
            <li class="list">글로벌경영학과+금융수학과=회계,세무,재무 및 수학적 식견</li>
            <li class="list">글로벌경영학과+경제학과=기업 경영 및 재무,투자</li>
         </div>
        <div id="display">
            <li class="list">글로벌경영학과+관광경영학과=관광기업 경영 및 관광업</li>
            <li class="list">글로벌경영학과+의료경영학과=의료기업 경영 및 의료업</li>
            <li class="list">글로벌경영학과+산업경영학과=기업 경영 및 유통/운송시스템</li>
        </div>
        <div id="display">
            <li class="list">글로벌경영학과+미디어커뮤니케이션=경영 마케팅 및 언론</li>
            <li class="list">글로벌경영학과+시각디자인학과=경영 마케팅 및 디자인</li>
            <li class="list">글로벌경영학과+산업디자인학과=경영 마케팅 및 디자인</li>
        </div>
        <div id="display">
            <li class="list">글로벌경영학과+영미어문학과=영어권 경영관리 및 언어습득</li>
            <li class="list">글로벌경영학과+동양어문학과=동양권 경영관리 및 언어습득</li>
            <li class="list">글로벌경영학과+유럽어문학과=유럽권 경영관리 및 언어습득</li>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>
