
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
     <li
         class="navbar-toggler nav-item dropdown subject3"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <form action="/majors/arts/draw">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">회화/조소과</button>
            </form>

            <form action="/majors/arts/industdesign">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">시각/산업디자인과</button>
            </form>

            <form action="/majors/arts/fashiondesign">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">패션디자인과</button>
            </form>

            <form action="/majors/arts/music">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">성악/기악/작곡과</button>
            </form>

            <form action="/majors/arts/sport">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">체육/태권도학과</button>
            </form>

            <form action="/majors/arts/act">
              <button type="submit" class="btn btn-dark mr-2 dropdown-item">연기예술학과</button>
            </form>
          </ul>
        </li>
        
     
      <div class="btn-group mb-20 subject3-fri" role="group" aria-label="Basic example">
      <form action="/majors/arts/draw">
        <button type="submit" class="btn btn-primary mr-2">회화/조소과</button>
      </form>

      <form action="/majors/arts/industdesign">
        <button type="submit" class="btn btn-primary mr-2">시각/산업디자인과</button>
      </form>

      <form action="/majors/arts/fashiondesign">
        <button type="submit" class="btn btn-dark mr-2">패션디자인과</button>
      </form>

      <form action="/majors/arts/music">
        <button type="submit" class="btn btn-primary mr-2">성악/기악/작곡과</button>
      </form>

      <form action="/majors/arts/sport">
        <button type="submit" class="btn btn-primary mr-2">체육/태권도학과</button>
      </form>

      <form action="/majors/arts/act">
        <button type="submit" class="btn btn-primary mr-2">연기예술학과</button>
      </form>
    </div>

    <form action="/majors/arts/fashiondesign">
      <button type="submit" class="btn btn-dark mr-2 subject3-fri2">패션디자인과</button>
    </form>
    
    
    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
       <li class="list">의상학 분야에 필요한 다양한 전문지식과 기술 및 실천적 활용 방법을 심도
            있고 체계적으로 교육시킴을 목적으로 한다. 졸업 후 취업활성화를 위한 산업체 연계, 전공심화교육, 자격증을 취득 할 수 있는 교과목으로 개설되어 있다.</li>
         <li  class="list">전공분야는 복식사, 패션디자인. 텍스타일디자인, 패턴디자인, 패션마케팅,
            e-비즈니스등 각 분야에서의 연계 교과목을 통해 다양한 분야에
            진출할 수 있는 기회를 제공하고 있다</li>
         <li  class="list">패션디자인전공과 관련된 다양한 분야의 전문지식을 습득하여, 실무경험을 통한 의류산업 분야에서 실천적으로 공헌할 수 있는 전문인을 양성한다.</li>
         <li  class="list">진로는 패션디자이너/의류CAD디자이너/모델리스트/CAD패터너/패션코디네이터/컬러리스트/스타일리스트/컴퓨터그래픽디자이너/디지털패션디자이너/텍스타일디자이너/소품(액세서리)디자이너/텍스타일컨버터/패션머천다이저/샵마스터/브랜드매니저/패션디스플레이어/e-비지니스/패션칼럼리스트/패션에디터/패션라이터/패션리포터/대학원 및 유학 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
         <div id="display">
            <li class="list">GTQ/ITQ</li>
            <li class="list">컴퓨터그래픽스운용기능사</li>
            <li class="list">패션디자인산업기사</li>
            <li class="list">의류기사</li>
            <li class="list">제품디자인산업기사</li>
            <li class="list">컴퓨터패션디자인운용마스터</li>
            <li class="list">패션디스플레너</li>
        </div>
        <div id="display">
            <li class="list">섬유디자인산업기사</li>
            <li class="list">제품응용모델링기능사</li>
            <li class="list">양장기능사</li>
            <li class="list">한복기능사</li>
            <li class="list">시각디자인기사</li>
            <li class="list">컬러리스트기사</li>
            <li class="list">패션머천다이징산업기사</li>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">패션디자인과+회화/조소과=미술의 흐름 및 양식과 패션계열 디자인 학습</li>
            <li class="list">패션디자인과+시각/산업디자인=실용/창의적 디자인 학습 및 패션디자인 설계/도안 학습</li>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>

