
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
     <li
         class="navbar-toggler nav-item dropdown subject8"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <form action="/majors/laws/law">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">법학과</button>
            </form>

            <form action="/majors/laws/admin">
              <button type="submit" class="btn btn-dark mr-2 dropdown-item">행정학과</button>
            </form>

            <form action="/majors/laws/police">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">경찰행정학과/경찰학연계전공</button>
            </form>
          </ul>
        </li>
        
     
      <div class="btn-group mb-20 subject8-fri" role="group" aria-label="Basic example">
        <form action="/majors/laws/law">
        <button type="submit" class="btn btn-primary mr-2">법학과</button>
      </form>

      <form action="/majors/laws/admin">
        <button type="submit" class="btn btn-dark mr-2">행정학과</button>
      </form>

      <form action="/majors/laws/police">
        <button type="submit" class="btn btn-primary mr-2">경찰행정학과/경찰학연계전공</button>
      </form>
    </div>

    <form action="/majors/laws/admin">
        <button type="submit" class="btn btn-dark mr-2 subject8-fri2">행정학과</button>
      </form>

  

    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
       <li class="list">공공행정과 정책에 관련된 최신의 이론을 습득하여, 실제의 행정현상을 올바르게 분석하고 합리적인 해결방안을 모색할 수 있는 시각과 능력을 배양하게 하여 국가발전에 기여하는 역량있는 인재를 양성하는데에
            교육목표를 둔다.</li>
         <li  class="list">대학의 교육이념과 교육목적에 따라 건전한 민주시민의 자질과
            덕성을 배양한다.</li>
         <li  class="list">정부기관이나 행정의 이론과 실제뿐만 아니라, 종합학문적인 소양을 체계적으로 배양하여 중앙정부 및 지방자치단체, 공기업 및 사기업 등 사회 각 분야에서 사회를 이끌어 나갈 유능한 전문 행정가와 행정 실무자를
            양성하는데 공헌한다.</li>
         <li  class="list">진로는 국가 및 지방공무원/ 정계/ 금융계/ 공기업체/ 사기업체/ 학계/ 연구원 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
            <li class="list">행정사</li>
            <li class="list">행정관리사</li>
            <li class="list">정책분석평가사</li>
            <li class="list">사회조사분석사 1,2급</li>
        </div>
        <div id="display">
            <li class="list">정보처리기사</li>
            <li class="list">컴퓨터 활용능력 1,2,3급</li>
            <li class="list">워드프로세서 1,2,3급</li>
            <li class="list">전산회계운용사 1,2,3급</li>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">행정학과+응용통계학과=기업 내 행정/데이터 통계 및 관리</li>
            <li class="list">행정학과+경찰행정학과=법/정책 및 경찰행정 학습</li>
            <li class="list">행정학과+경영학과=경영관리 및 법/정책 공공행정 학습</li>
            <li class="list">행정학과+도시계획학과=도시계획/설계 및 법/정책 공공행정 학습</li>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
           <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>
