
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
    <div class="btn-group mb-20" role="group" aria-label="Basic example">
      <form action="/majors/medicals/medical">
        <button type="submit" class="btn btn-dark mr-2">한의예과</button>
      </form>

    </div>
    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
        <li class="list">한의예/한의학과에서는 동양철학과 자연원리를 기초로 우리민족의 체질과 생활에
            맞도록 학술이론과 임상기법을 접목한 의학체계를 교육한다.</li>
         <li  class="list">교육과정은 예과 2년, 본과 4년으로 구성되는데, 예과에서는 한의사가 되기
            위한 기본소양을 기르는 교양과목과 한의학의 기초과목을 공부한다.</li>
         <li  class="list">자매학교인 중국 북경중의약대학과의
            활발한 교류를 통해 해외 한의학의 연구동향을 수 시로 파악, 한의학의 국제화에도 앞장서고 있다.
            </li>
         <li  class="list">한의학 고유이론을 재해석하여 사회변화에 부응하는 전문지식을 갖춘 한의사 양성에 목적을 둔다.
        </li>
         <li  class="list">진로는 한방병원 개업의 / 군의관 / 한방병원 수련의 / 대학원 진학 / 교수 / 연구소 연구원 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
           <div id="display">
            <li class="list">한의사전문의</li>
            <li class="list">한의학사</li>
            <li class="list">한의사면허증</li>
            <li class="list">한의사국가고시</li>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">본 학과는 복/부전공이 불가능합니다.</li>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
           <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>
