
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
    <li
         class="navbar-toggler nav-item dropdown subject"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <form action="/majors/socialsciences/media">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">미디어커뮤니케이션학과</button>
          </form>

          <form action="/majors/socialsciences/sightseeing">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">관광경영학과</button>
          </form>

          <form action="/majors/socialsciences/economy">
            <button type="submit" class="btn btn-dark mr-2 dropdown-item">경제학과</button>
          </form>

          <form action="/majors/socialsciences/medical">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">의료경영학과</button>
          </form>

          <form action="/majors/socialsciences/statistic">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">응용통계학과</button>
          </form>

          <form action="/majors/socialsciences/welfare">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">사회복지학과</button>
          </form>

          <form action="/majors/socialsciences/education">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">유아교육학과</button>
          </form>

          <form action="/majors/socialsciences/psychology">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">심리학과</button>
          </form>
          </ul>
        </li>
        
    <div class="btn-group mb-20 subject-fri" role="group" aria-label="Basic example">
      <form action="/majors/socialsciences/media">
        <button type="submit" class="btn btn-primary mr-2">미디어커뮤니케이션학과</button>
      </form>

      <form action="/majors/socialsciences/sightseeing">
        <button type="submit" class="btn btn-primary mr-2">관광경영학과</button>
      </form>

      <form action="/majors/socialsciences/economy">
        <button type="submit" class="btn btn-primary mr-2">경제학과</button>
      </form>

      <form action="/majors/socialsciences/medical">
        <button type="submit" class="btn btn-primary mr-2">의료경영학과</button>
      </form>

      <form action="/majors/socialsciences/statistic">
        <button type="submit" class="btn btn-primary mr-2">응용통계학과</button>
      </form>

      <form action="/majors/socialsciences/welfare">
        <button type="submit" class="btn btn-primary mr-2">사회복지학과</button>
      </form>

      <form action="/majors/socialsciences/education">
        <button type="submit" class="btn btn-dark mr-2">유아교육학과</button>
      </form>

      <form action="/majors/socialsciences/psychology">
        <button type="submit" class="btn btn-primary mr-2">심리학과</button>
      </form>
    </div>
      <form action="/majors/socialsciences/education">
        <button type="submit" class="btn btn-dark mr-2 subject-fri2">유아교육학과</button>
      </form>
    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
          <li  class="list">유아교육의 이론적 지식을 교육현장에 창의적으로 실천할 수 있는 최고를 추구하는 전문적인 유아교사를 양성한다.</li>
          <li  class="list">올바른 가치관을 함양하고 인간에 대한 깊은 이해를 토대로 사랑과 나눔에 동참하는 헌신적인 유아교사를 양성한다.</li>
          <li  class="list">새로운 이론과 실천을 비판적 수용하는 능력을 길러 글로벌사회를 전망할 수 있는 통찰력을 갖춘 미래를 지향하는 유아교사를 양성한다.</li>
          <li  class="list">유아교육을 통해 지역사회와 국가 발전에 기여하는 실천적인 봉사능력을 함양
            한다.</li>
          <li  class="list">진로는 유치원 교사 / 어린이집교사 / 유아교육기관의 연구원 / 교육프로그램 및 교재개발 / 기타 유아교육관련기관의 교사등이 있다</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
           <div id="display">
              <li class="list">정교사 2급</li>
              <li class="list">보육교사 2급</li>
              <li class="list">아동미술지도사</li>
          </div>
          <div id="display">
              <li class="list">유아체육지도자</li>
              <li class="list">유아국악지도사</li>
              <li class="list">종이접기 지도사</li>
            </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">경영학과+응용통계학과=회계,세무,재무 및 통계, 데이터 분석</li>
            <li class="list">경영학과+금융수학과=회계,세무,재무 및 수학적 식견</li>
            <li class="list">경영학과+경제학과=기업 경영 및 재무,투자</li>
          </div>
            <div id="display">
                <li class="list">경영학과+관광경영학과=관광기업 경영 및 관광업</li>
                <li class="list">경영학과+의료경영학과=의료기업 경영 및 의료업</li>
                <li class="list">경영학과+산업경영학과=기업 경영 및 유통/운송시스템</li>
            </div>
            <div id="display">
                <li class="list">경영학과+미디어커뮤니케이션= 경영 마케팅 및 언론</li>
                <li class="list">경영학과+시각디자인학과=경영 마케팅 및 디자인</li>
                <li class="list">경영학과+산업디자인학과=경영 마케팅 및 디자인</li>
            </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>

