
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
   <li
         class="navbar-toggler nav-item dropdown subject"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <form action="/majors/socialsciences/media">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">미디어커뮤니케이션학과</button>
          </form>

          <form action="/majors/socialsciences/sightseeing">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">관광경영학과</button>
          </form>

          <form action="/majors/socialsciences/economy">
            <button type="submit" class="btn btn-dark mr-2 dropdown-item">경제학과</button>
          </form>

          <form action="/majors/socialsciences/medical">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">의료경영학과</button>
          </form>

          <form action="/majors/socialsciences/statistic">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">응용통계학과</button>
          </form>

          <form action="/majors/socialsciences/welfare">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">사회복지학과</button>
          </form>

          <form action="/majors/socialsciences/education">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">유아교육학과</button>
          </form>

          <form action="/majors/socialsciences/psychology">
            <button type="submit" class="btn btn-primary mr-2 dropdown-item">심리학과</button>
          </form>
          </ul>
        </li>
        
    <div class="btn-group mb-20 subject-fri" role="group" aria-label="Basic example">
      <form action="/majors/socialsciences/media">
        <button type="submit" class="btn btn-dark mr-2">미디어커뮤니케이션학과</button>
      </form>

      <form action="/majors/socialsciences/sightseeing">
        <button type="submit" class="btn btn-primary mr-2">관광경영학과</button>
      </form>

      <form action="/majors/socialsciences/economy">
        <button type="submit" class="btn btn-primary mr-2">경제학과</button>
      </form>

      <form action="/majors/socialsciences/medical">
        <button type="submit" class="btn btn-primary mr-2">의료경영학과</button>
      </form>

      <form action="/majors/socialsciences/statistic">
        <button type="submit" class="btn btn-primary mr-2">응용통계학과</button>
      </form>

      <form action="/majors/socialsciences/welfare">
        <button type="submit" class="btn btn-primary mr-2">사회복지학과</button>
      </form>

      <form action="/majors/socialsciences/education">
        <button type="submit" class="btn btn-primary mr-2">유아교육학과</button>
      </form>

      <form action="/majors/socialsciences/psychology">
        <button type="submit" class="btn btn-primary mr-2">심리학과</button>
      </form>
    </div>

    <form action="/majors/socialsciences/media">
        <button type="submit" class="btn btn-dark mr-2 subject-fri2">미디어커뮤니케이션학과</button>
    </form>
    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
         <li class="list">전문성과 창의성, 도덕성, 책임감을 겸비한 커뮤니케이션 전문가를
                    양성하는 학과이다.</li>
          <li  class="list">커뮤니케이션·온라인미디어·광고·홍보 각 분야에 대한 기본적인 이론교육과, 예비언론인으로서의 책임과 사명에 대한 소양교육, 졸업 후 현장에 바로 투입할 수 있는 실무경험 위주의 현장학습을 균형감 있게 실시하고 있다.</li>
          <li  class="list">인사관리, 생산관리, 마케팅, 재무관리, 경영정보론, 창업경영 등 제반 경영기능을 망라하여 교육한다.</li>
          <li  class="list">진로는 방송사 / 신문사 / 잡지사 / 출판사 / 케이블TV / 인터넷방송 / 광고기획사 / 광고대행사 / 기업홍보실 / 영상문화산업 / 행사·이벤트 기획사 등이 있다</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
              <li class="list">사회조사분석사1급</li>
              <li class="list">사회조사분석사2급</li>
              <li class="list">사진기능사</li>
              <li class="list">멀티미디어콘텐츠제작전문가</li>
              <li class="list">Apple국제공인자격증취득과정</li>
              <li class="list">ACA(Adobe Certified Associate)</li>
              <li class="list">KBS한국어능력시험</li>
              <li class="list">KBS한국어말하기능력시험</li>
          </div>
          <div id="display">
              <li class="list">한국실용글쓰기검정</li>
              <li class="list">무대예술전문인</li>
              <li class="list">방송통신산업기사</li>
              <li class="list">방송영상기사</li>
              <li class="list">시각디자인기사</li>
              <li class="list">제품디자인기사</li>
              <li class="list">영사산업기사</li>
              <li class="list">GTQ/GTQi 1,2,3급</li>       
          </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
              <li class="list">미디어커뮤니케이션학과+응용통계학과=언론 관련 통계 분석 및 처리</li>
              <li class="list">미디어커뮤니케이션학과+한국어문학과=방송국 관련 언어사용능력 및 글쓰기 능력 함양</li>
              <li class="list">미디어커뮤니케이션학과+컴퓨터공학과=멀티미디어 콘텐츠 S/W 설계 및 디자인</li>
              <li class="list">미디어커뮤니케이션학과+시각/산업디자인학과=멀티미디어 콘텐츠 디자인 및 편집, 디자인 능력 함양</li>
          </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>
