

  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
    <li
         class="navbar-toggler nav-item dropdown subject5"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <form action="/majors/ITs/AI">
              <button type="submit" class="btn btn-dark mr-2 dropdown-item">AI소프트웨어학부</button>
            </form>

            <form action="/majors/ITs/computer">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">컴퓨터공학과</button>
            </form>

            <form action="/majors/ITs/electronic">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">전자공학과</button>
            </form>

            <form action="/majors/ITs/electrical">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">전기공학과</button>
            </form>

            <form action="/majors/ITs/energyIT">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">에너지IT학과</button> 
            </form>
          </ul>
        </li>
        
     
      <div class="btn-group mb-20 subject5-fri" role="group" aria-label="Basic example">
       <form action="/majors/ITs/AI">
        <button type="submit" class="btn btn-dark mr-2">AI소프트웨어학부</button>
      </form>

      <form action="/majors/ITs/computer">
        <button type="submit" class="btn btn-primary mr-2">컴퓨터공학과</button>
      </form>

      <form action="/majors/ITs/electronic">
        <button type="submit" class="btn btn-primary mr-2">전자공학과</button>
      </form>

      <form action="/majors/ITs/electrical">
        <button type="submit" class="btn btn-primary mr-2">전기공학과</button>
      </form>

      <form action="/majors/ITs/energyIT">
        <button type="submit" class="btn btn-primary mr-2">에너지IT학과</button> 
      </form>
    </div>

    <form action="/majors/ITs/AI">
        <button type="submit" class="btn btn-dark mr-2 subject5-fri2">AI소프트웨어학부</button>
      </form>


    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
        <li  class="list">소프트웨어 전공교육 개혁을 목표로 가천대 유일의 교육 특성화 학과를 신설하여 운영 중에 있으며 산업체의 요구를 지속적으로 반영한 교과과정 설계로 기존 틀에 얽매이지 않은 교육과정을 수립하여 수행한다.</li>
        <li  class="list">다양한 사람들과의 인간관계에 있어서 항상 옳고 그름을 구별하면서 협력하고 효과적인 상호작용을 할 수 있는 능력을 계발한다.</li>
        <li  class="list">ICT 관련 4차산업 및 혁신성장동력 분야에 대한 필요 기술을 잘 파악하여 여러 사람들과 협력과 협업을 통한 효율적인 결과 달성 능력과 자신이 소속된 공동체에 대해 책임과 의무를 가지고 행동하면서 자신의 능력을 서로 공유할 수 있는 능력을 계발한다.</li>
        <li  class="list">진로는 소프트웨어 개발업체/ 전산 정보처리 업체/ 연구소/ 전산실/ 소프트웨어 관련 산업체/ 대학원 진학 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
            <li class="list">CSTS</li>
            <li class="list">정보처리기사/산업기사</li>
            <li class="list">멀티미디어컨텐츠제작 전문가</li>
            <li class="list">전자상거래관리사</li>
            <li class="list">네트워크관리사</li>
            <li class="list">전자계산기조직응용산업기사</li>
            <li class="list">멀티미디어전문가</li>
            <li class="list">PCT</li>
          </div>
          <div id="display">
            <li class="list">인터넷시스템관리사</li>
            <li class="list">인터넷 정보검색사</li>
            <li class="list">Cos Pro</li>
            <li class="list">SW코딩자격</li>
            <li class="list">웹디자인기능사</li>
            <li class="list">CLA/CPA/CPP</li>
            <li class="list">마이크로소프트 공인기술전문가</li>
            <li class="list">TOPCIT</li>       
          </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">AI소프트웨어학과+영미/유럽/동양어문학과=응용/시스템 소프트웨어 개발 및 해외기업 진출을 위한 외국어 학습</li>
            <li class="list">AI소프트웨어학과+전기/전자공학과=응용/시스템 소프트웨어 개발 및 하드웨어 개발과 기계어 학습</li>
            <li class="list">AI소프트웨어학과+산업/시각디자인학과=응용/시스템 소프트웨어 개발 및 디자인 학습</li>
          </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
           <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>


      
  </body>

