
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
    <li
         class="navbar-toggler nav-item dropdown subject5"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <form action="/majors/ITs/AI">
              <button type="submit" class="btn btn-dark mr-2 dropdown-item">AI소프트웨어학부</button>
            </form>

            <form action="/majors/ITs/computer">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">컴퓨터공학과</button>
            </form>

            <form action="/majors/ITs/electronic">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">전자공학과</button>
            </form>

            <form action="/majors/ITs/electrical">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">전기공학과</button>
            </form>

            <form action="/majors/ITs/energyIT">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">에너지IT학과</button> 
            </form>
          </ul>
        </li>
        
     
      <div class="btn-group mb-20 subject5-fri" role="group" aria-label="Basic example">
       <form action="/majors/ITs/AI">
        <button type="submit" class="btn btn-primary mr-2">AI소프트웨어학부</button>
      </form>

      <form action="/majors/ITs/computer">
        <button type="submit" class="btn btn-primary mr-2">컴퓨터공학과</button>
      </form>

      <form action="/majors/ITs/electronic">
        <button type="submit" class="btn btn-primary mr-2">전자공학과</button>
      </form>

      <form action="/majors/ITs/electrical">
        <button type="submit" class="btn btn-primary mr-2">전기공학과</button>
      </form>

      <form action="/majors/ITs/energyIT">
        <button type="submit" class="btn btn-dark mr-2">에너지IT학과</button> 
      </form>
    </div>

    <form action="/majors/ITs/energyIT">
        <button type="submit" class="btn btn-dark mr-2 subject5-fri2">에너지IT학과</button> 
      </form>
    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
       <li class="list">에너지IT학과는 21세기 인류가 직면하고 있는 에너지(Energy), 자원(Resource) 문제의 효과적 해결을 위해, 에너지기술, ICT(정보와 커뮤니케이션기술), 그리고 경영경제기술의 개방과 융합을 통해 혁신적이고 새로운 학문분야의 신지식을 교육한다.</li>
        <li  class="list">우리학과는 교수자의 강의내용을 공개하고 산업체와 국가사회의 요구에 맞추어 교육과정을 운영하며, 학습과정에 학생들이 적극 참여하도록 하는 University 2.0 방식으로 사회와 국가와 인류에 공헌하는 인재를 배출하는데 최선을 다한다.</li>
        <li  class="list">에너지IT학과와 가천벨연구원에서는 에너지와 물 문제, 나아가 인류의 지속가능성문제를 해결하기 위해 제안하는 구체적인 아키텍쳐 프로그램을 운영하고 있으며, Bell Labs, UCLA SmartGrid Center, UN ECA등과 구체적인 연구개발을 수행하고 있다.</li>
        <li  class="list">진로는 에너지 기업/ 연구소/ 대학원 진학 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
            <li class="list">에너지관리기사</li>
            <li class="list">에너지관리산업기사</li>
            <li class="list">에너지진단사</li>
            <li class="list">태양광발전기사</li>
            <li class="list">건물에너지관리기사</li>
        </div>
        <div id="display">
            <li class="list">온실가스관리기사</li>
            <li class="list">신재생에너지발전설비기사</li>
            <li class="list">전기기사</li>
            <li class="list">전기산업기사</li>
            <li class="list">가스기사</li>     
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">에너지IT학과+화공생명공학과=화학공학 및 에너지 자원 공부</li>
            <li class="list">에너지IT학과+화학과=화학 물질 구조/성질 학습 및 에너지 자원 공부</li>
            <li class="list">에너지it학과+전기/전자공학과=에너지IT 지식기반 반도체/전기공학 탐구</li>
            <li class="list">에너지it학과+소프트웨어/컴퓨터공학과=에너지IT 지식기반 프로그래밍 개발</li>
          </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>