
  <body>

<main>

  <div class="px-4 py-5 my-5 text-center">
     <li
         class="navbar-toggler nav-item dropdown subject6"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          학과 보기
          </a>
          <ul class="dropdown-menu2 dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <form action="/majors/futureindustrys/medicalmachine">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">첨단의료기기학과</button>
            </form>

            <form action="/majors/futureindustrys/game">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">게임영상학과</button>
            </form>

            <form action="/majors/futureindustrys/display">
              <button type="submit" class="btn btn-primary mr-2 dropdown-item">디스플레이학과</button>
            </form>

            <form action="/majors/futureindustrys/car">
              <button type="submit" class="btn btn-dark mr-2 dropdown-item">미래자동차학과</button>
            </form>
          </ul>
        </li>
        
     
      <div class="btn-group mb-20 subject6-fri" role="group" aria-label="Basic example">
       <form action="/majors/futureindustrys/medicalmachine">
        <button type="submit" class="btn btn-dark mr-2">첨단의료기기학과</button>
      </form>

      <form action="/majors/futureindustrys/game">
        <button type="submit" class="btn btn-primary mr-2">게임영상학과</button>
      </form>

      <form action="/majors/futureindustrys/display">
        <button type="submit" class="btn btn-primary mr-2">디스플레이학과</button>
      </form>

      <form action="/majors/futureindustrys/car">
        <button type="submit" class="btn btn-primary mr-2">미래자동차학과</button>
      </form>
    </div>

    <form action="/majors/futureindustrys/medicalmachine">
        <button type="submit" class="btn btn-dark mr-2 subject6-fri2">첨단의료기기학과</button>
      </form>



    <div>
      <img class="img-fluid border rounded-3 shadow-lg mb-5" src="{{post.image}}" alt="" width="300" height="300">
    </div>
    <h1 class="display-5 fw-bold">학과 설명 및 진로</h1>
    <div class="col-lg-6 mx-auto">
         <li class="list">기존 지역 내 인력 수요와 공급 미스매치 해소, 적극 참여하는 현장 수요 맞춤형 교육을 중시한다.</li>
         <li  class="list">의료기기 규제과학(RA)과 공학 기반 직무능력이 균형을 이룬 산업인력 교육과 PBL, OJT를 통한 실무형 인재양성, 국내 최고 수준 바이오헬스 인프라를 활용한 기술사업화와 교육을 병행, 창의융합/기업R&D프로젝트 교육을 중시한다.</li>
         <li  class="list">첨단의료기기 산업은 전통적인 융합 산업 분야이자 대표적 고부가가치 산업으로 산업에서 요구되는 기반융합기술과 함께 의료기기 규제과학에 대한 이해를 균형 있게 갖추고, 융합 공학 기반 직무능력, 최신기술인 AI, IoT, 3D프린팅 등, 실무형 산업인력 양성을 목표로 한다.</li>
         <li  class="list">진로는 병원/의료기기 전문가/엔지니어/바이오 연구소 직원/연구원 등이 있다.</li>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <img src="{{post.image2}}" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="300" height="300" loading="lazy">
    <h1 class="display-4 fw-bold">대외활동 및 공모전</h1>
    <li class="list">아래 링크를 통해 관련 대외활동 및 공모전에 도전할 수 있습니다.</li>
    <div class="col-lg-6 mx-auto mb-4">
       <div>
             <p>대외활동:</p>
             <a id="margin" href="http://www.spectory.net/activities" target="_blank">스펙토리-대외활동</a>
             <a id="margin" href="https://www.wevity.com/?c=active" target="_blank">위비티-대외활동</a>
             <a id="margin" href="https://linkareer.com/list/activity" target="_blank">링커리어-대외활동</a>
             <a id="margin" href="https://www.campuspick.com/activity" target="_blank">캠퍼스픽-대외활동</a>

        </div>
        <div>
             <p>공모전:</p>
             <a id="margin" href="http://www.spectory.net/contest" target="_blank">스펙토리-공모전</a>
             <a id="margin" href="https://www.wevity.com/?c=find" target="_blank">위비티-공모전</a>
             <a id="margin" href="https://linkareer.com/list/contest" target="_blank">링커리어-공모전</a>
             <a id="margin" href="https://www.campuspick.com/contest" target="_blank">캠퍼스픽-공모전</a>
        </div>
        <div>
            <p>동아리 및 스터디:</p> 
            <a id="margin" href="https://linkareer.com/list/club" target="_blank">링커리어-동아리</a>
            <a id="margin" href="https://www.campuspick.com/club" target="_blank">캠퍼스픽-동아리</a>
            <a id="margin" href="https://www.campuspick.com/study" target="_blank">캠퍼스픽-스터디</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{post.image3}}" class="img-fluid border-10 rounded-3 shadow-lg mb-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">관련 자격증</h1>
          <div id="display">
            <li class="list">의료기기 RA전문가</li>
            <li class="list">의공산업기사</li>
            <li class="list">의료기기전문가</li>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-4">
        <h1 class="display-4 fw-bold lh-1">복수/부전공에 좋은 학과</h1>
          <div id="display">                                        
            <li class="list">본 학과는 조기취업형 계약학과이므로 복/부전공이 불가능합니다.</li>
        </div>

      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{{post.image4}}" alt="" width="100%">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">가천대 진로탐색 프로젝트</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">가천대 재학생을 위해 열심히 노력하겠습니다.</p>
      </div>
    </div>
  </div>
</main>



      
  </body>

